<!DOCTYPE html>
<html lang="'en">
<body>

<h1 style="text-align:center">Question Dublicate Prediction</h1>

<form action="/result" style="text-align:center" method="POST">
  <p>Enter Questions</p>
  <label for="Question1">Q1</label> 
  <input id="Question1", name="Q1"></textarea> <br><br>

  <label for="Question2">Q2</label>
  <input id="Question2", name="Q2"></textarea>
  <br>
  <br>
  <input type="submit" formmethod="POST">
</form>

<br>
<p style="text-align:center">Click the Submit to get predictions.</p>

</body>
</html>
